$bodyBackgroundColor: #F8F8F8;
$sidebarBackgroundColor: white;
$whiteColor: white;
$activeBorderColor: #B8FFEC;
$borderColor: #EAEAEA;
$footerBorderColor: #D9FFF5;
$mainColor: white;
$blackTextColor: black;
$grayTextColor: #7E7E82;
$inputTextColor: #B5B6BC;
$inputBorderColor: #EAEAEA;
$inputColor: white;
$orderColor: #FF3E79;
