@import 'color';

.footer {
    border-top: 1px $footerBorderColor solid;
    @media (min-width: $minWidth) {
        display: grid;
        grid-template-columns: 33% 33% auto;
        gap: 10px;
        padding: 30px;
    }
}

.footer__paragraph {
    text-align: center;
    color: $grayTextColor;
}

.footer__paragraph:nth-child(1) {
    @media (min-width: $minWidth) {
        text-align: left;
    }
}

.footer__paragraph:nth-child(2) {
    @media (min-width: $minWidth) {
        text-align: center;
    }
}

.footer__paragraph:nth-child(3) {
    @media (min-width: $minWidth) {
        text-align: right;
    }
}