@import 'max-min-width';
@import 'color';

$maxLeftSidebarWidth: 440px;

.sidebar-left-layer,
.sidebar-right-layer {
  display: block;
  background-color: $mainColor;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 90%;
  z-index: 52;
}

.sidebar-left-layer {
  @media (min-width: $maxWidth) {
    display: none;
  }
}

.sidebar-left {
  background-color: $sidebarBackgroundColor;
  width: $minMobileWidth;
  min-height: 100%;
  display: block;
  @media (max-width: ($maxWidth - 1)) {
    min-width: $minMobileWidth;
    max-width: $maxMobileWidth;
    z-index: 100;
    position: fixed;
    top: 0;
    left: -$maxMobileWidth;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0;

    transition-property: left, box-shadow;
    transition-timing-function: ease-in;
    transition-duration: 500ms;
  }
}

.sidebar-left_open {
  left: 0;
  @media (max-width: ($maxWidth - 1)) {
    box-shadow: 10px 0 35px ($grayTextColor);
    transition-timing-function: ease-out;
  }
}

.sidebar-menu__top-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-menu__bottom-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sidebar-menu__header {
  display: flex;
  justify-content: space-between;
}

.sidebar-menu__left-part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
}

.sidebar__right-part {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 25px;
  gap: 20px;
}

.sidebar-menu__close-button {
  @media (min-width: $maxWidth) {
    display: none !important;
  }
}

.sidebar-menu__navigation {
  margin-top: 10px;
}

.sidebar-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 0;
  overflow: hidden;
  list-style-type: none;
}

.sidebar-menu__paragraph_active,
.sidebar-menu__paragraph {
  padding: 5px 10px;
  border-radius: 10%;
  white-space: nowrap;
  margin: 0 0;
  padding: 10px 30px;

  transition: background-color 200ms;
  background-color: transparent;
}

.sidebar-menu__paragraph_active {
  background: url('../img/icons/highlight.svg') no-repeat left;
}

.sidebar-menu__paragraph:hover {
  transition: background-color 200ms;
  background-color: $bodyBackgroundColor;
}

.sidebar-menu__link {
  color: $blackTextColor;
  font-weight: 500;
  text-decoration: none;
}

.sidebar-menu__link_active {
  color: $grayTextColor;
  font-weight: 500;
  text-decoration: none;
}


.sidebar-menu__buttons-bottom {
    display: flex;
    margin: 10px 20px;
    gap: 5px;
  }
  
  .sidebar-menu__mail {
    font-weight: 500;
    margin: 10px 20px;
    padding: 0;
  }
  
  .sidebar-menu__phone-number {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 20px;
    padding: 0;
  }
  
  .sidebar-menu__lang {
    margin: 20px 20px;
  }

  .sidebar-right {
    background-color: $sidebarBackgroundColor;
    width: $minMobileWidth;
    min-height: 100%;
    z-index: 100;
    display: block;
    min-width: $minMobileWidth;
    max-width: $maxMobileWidth;
    position: fixed;
    top: 0;
    right: -$maxMobileWidth;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0;

    transition-property: right, box-shadow;
    transition-timing-function: ease-in;
    transition-duration: 500ms;
    @media (min-width: $maxWidth) {
      width: $maxLeftSidebarWidth;
    }
  }

.sidebar-right_open {
  right: 0;
  box-shadow: -10px 0 35px ($grayTextColor);
  transition-timing-function: ease-out;
}

.sidebar-feedback__close-button,
.sidebar-request__close-button {
  margin: 20px 10px;
  @media (min-width: $minWidth) {
    display: none;
    right: $maxLeftSidebarWidth - 60px;
  }
}

.sidebar-right_open .sidebar-feedback__close-button,
 .sidebar-right_open .sidebar-request__close-button {
  display: block;
}


.sidebar-feedback__input-box,
 .sidebar-request__input-box,
  .sidebar-feedback__text-area {
  width: 288px;
  height: 48px;
  margin: 10px 15px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid $inputBorderColor;
  padding: 10px;
  font-size: 16px;
}

.sidebar-feedback__text-area {
  height: 118px;
}

.sidebar-feedback__paragraph,
.sidebar-request__paragraph {
  font-size: 14px;
  color: $grayTextColor;
  margin: 10px 15px;
}

.sidebar-request__paragraph a,
.sidebar-feedback__paragraph a {
  color: $orderColor;
  text-decoration: none;
}

.sidebar-request__paragraph a:hover,
.sidebar-feedback__paragraph a:hover {
  text-decoration: underline;
}

.sidebar-feedback__button,
.sidebar-request__button {
  align-content: end;
  margin: 15px;
  float: right;
}