@import 'service-block';
@import 'sideBar';
@import 'swipper';


@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Comic, sans-serif;
}

.pagesWrapper {
  display: flex;
}

.content {
  padding: 5px;
}
