@import 'button';
@import 'fonts';
@import 'color';
@import 'header';
@import 'main';
// @import 'sideBar';
@import 'swipper';

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: 'TT Lakes', sans-serif;
  background-color: $bodyBackgroundColor;
  padding: 0;
  margin: 0;
}


// .pagesWrapper {
//   display: flex;
// }

// .content {
//   padding: 5px;
//   background-color: #F8F8F8;
// }
// // поправь код после gpt
// html, body {
//   margin: 0;
//   padding: 0;
//   height: 100%;
//   width: 100%;
// }

// .pagesWrapper {
//   display: flex;
//   height: 100%;
// }

// .sideBarWrapper {
//   width: 250px; /* Ширина боковой панели */
//   flex-shrink: 0;
// }

// .content {
//   flex-grow: 1;
//   display: flex;
//   flex-direction: column;
//   overflow-y: scroll;
// }

// /* Стили для контента */
// .header {
//   padding: 10px;
//   border-bottom: 1px solid #ddd;
// }

// .main {
//   flex-grow: 1;
//   padding: 20px;
//   background-color: #f9f9f9;
//   overflow-y: visible;
// }

// .swiperWrapper {
//   padding: 20px;
//   border-top: 1px solid #ddd;
// }

// /* Стили для Swiper */
// .swiper {
//   margin-top: 15px;
//   width: auto;
// }

// .swiper-wrapper {
//   display: flex;
// }

// .swiper-slide {
//   display: grid;
//   width: 240px;
//   height: 100%;
//   padding: 15px 0;
//   border: 1px solid #EAEAEA;
//   border-radius: 6px;
// }

// .swiper-pagination-bullet {
//   background-color: #ABABAB !important;
// }
